.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .about-container{
        display: flex;
        flex-direction: column;
        width:25%;
        margin: 2%;

        h3{
            font-size: 2.5rem;
        }//closing bracket for .about .about-container h3

    }//closing bracket for .about .about-container

        .about-img{
            width: auto;
        


        }//closing brackets for .about .about-container .about-img

}
